:root {
    --theme-color: white;
    background-image: url('/blackpeopledrugs/media/bannerDark.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#FAQ h2 {
    font-size: large;
}

#FAQ h3 {
    font-size: medium;
    margin: 0;
}

#FAQ {
    width: auto;
    /*margin-left: 50px;*/ /* Removed indent. */
}

.FAQ-Title {
    color: var(--theme-color);
    padding: 6px 0px;
    margin: 0 12px;
}

#FAQ .FAQ-Q {
    margin: 0 0 6px 0;
}

#FAQ .FAQ-A {
    margin: 6px 0 0 0;
}

#FAQ a:link {
    color: black;
}

#FAQ a:visited {
    color: black;
}

#FAQ a:hover {
    color: black;
}

#FAQ a:active {
    color: black;
}

#FAQ img {
    margin: 6px 0 0;
    border-radius: 6px;
}

#FAQ .QnA {
    color: black;
    margin: 12px auto;
    padding: 12px;
    background-color: #fff0; /* please work for the love of God */
    background-image: linear-gradient(to right, #fffb , #888b);
    width: auto;
    border-radius: 12px;
}

#FAQ .embed-map {
    margin: 12px 0 0 0;
}