:root {
    font-family: Arial;
    color: white;
    font-size: 18px;
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header {
    width: 100%;
}

#header h1, #header h2 {
    text-align: center;
    align-items: flex-start;
    position: relative;
    padding: 0 auto;
    text-align: center;
    align-items: flex-start;
    position: relative;
    padding: 32px auto;
    /*font-family: 'Lucida Sans';*/
    color: var(--theme-color);
}

#header h1 {
    font-size: 96px;
    top: 0px;
    margin: 96px auto 56px;
}

#header h2 {
    font-size: 48px;
    margin: -36px auto 36px;
}

#navigation {
    position: fixed;
    display: block;
    margin: 0 0;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    background-color: #222c;
}

#navigation ul {
    list-style-type: none;
    margin: 0 auto;
    width: auto;
    padding: 0;
    overflow: hidden;
    display: block;
    text-align:center;
}

#navigation ul li:not(#navigation #left-panel ul li) {
    background-color: #1110;
    margin: 6px 0px;
    padding: 0;
    display: inline-block;
}

#navigation ul li a {
    display: block;
    color: black;
    border-radius: 12px;
    text-align: center;
    padding: 14px 16px;
    height: 20px;
    text-decoration: none;
}

#navigation ul li a:link, #navigation ul li a:visited {
    background-color: #333;
    /*background-image: linear-gradient(to right, #444 , #222);*/
    color: white;
}

#navigation ul li a.active:link, #navigation ul li a.active:visited {
    background-color: white;
    /*background-image: linear-gradient(to right, #ddd , #aaa);*/
    color: black;
}

#navigation ul li a:hover {
    background-color: #555;
    /*background-image: linear-gradient(to right, #666 , #333);*/
    color: white;
}

#navigation ul li a.active:hover {
    background-color: #aaa;
    /*background-image: linear-gradient(to right, #bbb , #888);*/
    color: black;
}

#navigation ul li a:active {
    background-color: #111;
    /*background-image: linear-gradient(to right, #222 , #111);*/
    color: white;
}

#navigation ul li a.active:active {
    background-color: #ddd;
    /*background-image: linear-gradient(to right, #fff , #bbb);*/
    color: black;
}

#navigation button, #navigation input {
    position: fixed;
    top: 0px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    height: 48px;
    width: 96px;
    padding: 0;
    display: inline-block;
}

#navigation button {
    width: 96px;
    margin: 6px 12px;
}

#navigation input#filter-box {
    width: 276px;
    background-color: white;
    /*background-image: linear-gradient(to right, #ddd , #aaa);*/
    color: black;
    border-radius: 12px;
    display: none;
    left: 96px;
    margin: 6px 24px;
}

#navigation input#filter-box[type="text"] {
    box-sizing: border-box;
    padding-left: 12px;
}

#navigation button#collapseButton {
    background-color: white;
    /*background-image: linear-gradient(to right, #fff , #aaa);*/
    color: black;
    display: none;
}

#navigation button#expandButton {
    background-color: #333;
    /*background-image: linear-gradient(to right, #444 , #222);*/
    color: white;
    display: inline-block;
}

#left-panel {
    position: fixed;
    display: none;
    margin: 0 0;
    top: 60px;
    left: 0px;
    width: auto;
    height: 100%;
    z-index: 1;
    background-color: #222c;
}

#left-panel ul li {
    background-color: #1110;
    margin: 6px 12px;
    padding: 0;
    display: block;
}

#content {
    width: min(90vw, calc(calc(4 / 3) * 100vh)); /* Please work I beg you */
    display: block;
    margin: 0 auto;
    padding: 12px 12px;
    background-color: #fff0; /* please work for the love of God */
    background-image: linear-gradient(#444c , #222c);
    border-radius: 24px;
}

#content > *:not(#footer, #FAQ, #shop, #product) {
    padding: 6px 0px;
    margin: 0 12px;
}

a, button {
    transition: 0.05s;
}

a:link, a:visited {
    color: #fff
}

a:hover {
    color: #aaa
}

a:active {
    color: #ddd
}

#footer {
    width: min(90vw, calc(calc(4 / 3) * 100vh));
    display: block;
    margin: 0px auto;
}

#footer p {
    text-align: center;
    color: black;
    margin: 12px auto 0px;
    padding: 12px;
    background-color: #fff0; /* please work for the love of God */
    background-image: linear-gradient(to right, #fffb , #aaab);
    width: auto;
    border-radius: 12px;
}

#footer p.top {
    margin: 6px auto 0px;
}

.clearLeft {
    clear: left;
}