:root {
    font-family: Arial;
    font-size: 18px;
}

#header {
    width: 100%;
}

#titlefsite {
    text-align: center;
    align-items: flex-start;
    position: relative;
    top: 0px;
    margin: 72px auto 32px;
    padding: 0 auto;
    /*font-family: 'Lucida Sans';*/
    font-size: 100px;
    color: var(--theme-color);
}

#navigation {
    position: fixed;
    display: block;
    margin: 0 0;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    background-color: #222c;
}

#navigation ul {
    list-style-type: none;
    margin: 0 auto;
    width: auto;
    padding: 0;
    overflow: hidden;
    display: block;
    text-align:center;
}

#navigation ul li {
    background-color: #1110;
    margin: 6px 0px;
    padding: 0;
    display: inline-block;
}

#navigation ul li a {
    display: block;
    color: black;
    border-radius: 12px;
    text-align: center;
    padding: 14px 16px;
    height: 20px;
    text-decoration: none;
}

#navigation ul li a:link {
    background-color: #fff;
}

#navigation ul li a:visited {
    background-color: #fff;
}

#navigation ul li a:hover {
    background-color: #555;
    color: white;
}

#navigation ul li a.active {
    background-color: #333;
    color: white;
}

#navigation ul li a:active {
    background-color: #111;
    color: white;
}

#navigation button {
    position: fixed;
    top: 2px;
    font-size: 18px;
    height: 44px;
    border: none;
    border-radius: 12px;
    width: 96px;
    margin: 6px 12px;
}

#navigation button#collapseButon {
    background-color: #333;
    color: white;
    display: none;
}

#navigation button#expandButton {
    background-color: #fff;
    color: black;
    display: inline-block;
}

#left-panel {
    position: fixed;
    display: none;
    margin: 0 0;
    top: 60px;
    left: 0px;
    width: 120px;
    height: 100%;
    z-index: 1;
    background-color: #222c;
}

#content {
    width: calc(calc(4 / 3) * 100vh); /* Please work I beg you */
    display: block;
    margin: 0 auto;
    padding: 6px 12px;
    background-color: var(--theme-color); /* please work for the love of God */
    background-image: linear-gradient(#555 , #111);
    border-radius: 12px;
}

#content p {
    padding: 6px 0px;
    margin: 0 auto;
}

#footer {
    width: calc(calc(4 / 3) * 100vh);
    display: block;
    margin: 6px auto;
}

#footer p {
    /*width: calc(calc(4 / 3) * 100vh);*/
    text-align: center;
    /*display: block;
    /*margin: 6px auto;
    padding: 12px 0;
    /*background-color: var(--theme-color); /* please work for the love of God */
    /*color: white;
    /*border-radius: 12px; /* it is fucking round we did it */
}