:root {
    font-family: Arial;
    background-color: black;
    background-size: 100%;
    color: white;
    font-size: 18px;
}

#header {
    width: 100%;
}

#titlefsite {
    text-align: center;
    align-items: flex-start;
    position: relative;
    top: 0px;
    margin: 72px auto 32px;
    padding: 0 auto;
    /*font-family: 'Lucida Sans';*/
    font-size: 100px;
    color: var(--theme-color);
}

#header h1 {
    text-align: center;
    align-items: flex-start;
    position: relative;
    padding: 0 auto;
    /*font-family: 'Lucida Sans';*/
    font-size: 100px;
    color: var(--theme-color);
}

#navigation {
    position: fixed;
    display: block;
    margin: 0 0;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    background-color: #222c;
}

#navigation ul {
    list-style-type: none;
    margin: 0 auto;
    width: auto;
    padding: 0;
    overflow: hidden;
    display: block;
    text-align:center;
}

#navigation ul li {
    background-color: #1110;
    margin: 6px 0px;
    padding: 0;
    display: inline-block;
}

#navigation ul li a {
    display: block;
    color: black;
    border-radius: 12px;
    text-align: center;
    padding: 14px 16px;
    height: 20px;
    text-decoration: none;
}

#navigation ul li a:link, #navigation ul li a:visited {
    background-color: #fff;
    color: black;
}

#navigation ul li a.active:link, #navigation ul li a.active:visited {
    background-color: #333;
    color: white;
}

#navigation ul li a:hover {
    background-color: #aaa;
    color: black;
}

#navigation ul li a.active:hover {
    background-color: #555;
    color: white;
}

#navigation ul li a:active {
    background-color: #ddd;
    color: black;
}

#navigation ul li a.active:active {
    background-color: #111;
    color: white;
}

#navigation button {
    position: fixed;
    top: 0px;
    font-size: 18px;
    height: 48px;
    border: none;
    border-radius: 12px;
    width: 96px;
    margin: 6px 12px;
    padding: 0;
    display: inline-block;
}

#navigation button#collapseButton {
    background-color: #333;
    color: white;
    display: none;
}

#navigation button#expandButton {
    background-color: #fff;
    color: black;
    display: inline-block;
}

#left-panel {
    position: fixed;
    display: none;
    margin: 0 0;
    top: 60px;
    left: 0px;
    width: 120px;
    height: 100%;
    z-index: 1;
    background-color: #222c;
}

#content {
    width: calc(calc(4 / 3) * 100vh); /* Please work I beg you */
    display: block;
    margin: 0 auto;
    padding: 12px 12px;
    background-color: var(--theme-color); /* please work for the love of God */
    background-image: linear-gradient(#444 , #111);
    border-radius: 24px;
}

#content > *:not(#footer, #FAQ) {
    padding: 6px 0px;
    margin: 0 12px;
}

a, button {
    transition: 0.05s;
}

a:link, a:visited {
    color: #fff
}

a:hover {
    color: #aaa
}

a:active {
    color: #ddd
}

#footer {
    width: calc(calc(4 / 3) * 100vh);
    display: block;
    margin: 0px auto;
}

#footer p {
    text-align: center;
    color: black;
    margin: 12px auto 0px;
    padding: 12px;
    background-color: var(--theme-color); /* please work for the love of God */
    background-image: linear-gradient(to right, white , #888);
    width: auto;
    border-radius: 12px;
}