:root {
    --theme-color: white;
    background-image: url('/blackpeopledrugs/media/bannerDark.jpg');
}

#product {
    color: black;
    margin: 12px auto;
    padding: 12px;
    background-color: #fff0; /* please work for the love of God */
    background-image: linear-gradient(to right, #fffb , #888b);
    width: auto;
    border-radius: 12px;
}

#product img {
    float: left;
    max-width: 540px;
    height:80%;
    margin: 0px 12px 0px 0px;
    border-radius: 6px;
}